body {
  background-color: lightblue;
}
.mercury-age {
  font-weight: bold;
  font-size: larger;
}
.venus-age {
  font-weight: bold;
  font-size: larger;
}
.earth-age {
  font-weight: bold;
  font-size: larger;
}
.mars-age {
  font-weight: bold;
  font-size: larger;
}
.jupiter-age {
  font-weight: bold;
  font-size: larger;
}
